/* Vos styles CSS existants */

/* Styles de base */
/* iheb */
body {
  /* background: linear-gradient(to right, black, gold);  */
  color: black;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Amiri', 'Times New Roman', serif;
  font-size: 1rem;
}
.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:2%;
  direction: rtl;
}

.form-group {
  flex: 1;
  margin: 2%;
  padding: 2%;
  border-radius: 20px;
  /* background-color: black;
  color: #ccba39;
  border:  2px solid #ccba39; */
  background-color:#ccba39;
  color: black;
  text-align: center;
  box-sizing: border-box;
  /* Inclure les bordures et les rembourrages dans la largeur et la hauteur */
}

label {
  font-weight: 700;
  font-size: 1.5rem;
}

main {
  padding: 2%;
  font-size: 1rem;
}

span {

  font-weight: 600;
}




.packs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 1em;
}

.pack {
  flex: 1;
  max-width: 320px;
  width: 100%;
  /* background-color:#ccba39;
  color: black; */
  background-color: black;
  color: #ccba39;
  border:  2px solid #ccba39;
  padding: 0.5em;
  margin: 0.5em;
  text-align: center;
  box-sizing: border-box;
  border-radius: 5px;

}

.pack  h2 {
  font-size: 1.4rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


button,.btn{
  font-family: 'Amiri', 'Times New Roman', serif;
  background-color: #ccba39;
  color: black;
  padding: 8px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

/* button:hover {
  background: linear-gradient(to right, #ffd700, gold);
} */

/* iheb */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

header {
  background-color: #ccba39;
  display: flex;
  justify-content: space-between;
  height: auto;
}

header h1 {
  text-align: right;
  margin-right: 15px;
}

header .lu {
  margin-left: 15px;
}

ul {
  list-style: none;
  display: flex;
  width: fit-content;
  margin: 8px auto;
}

ul li {
  margin-left: 50px;
  font-size: 20px;
}

ul li a {
  text-decoration: none;
  color: black;
}

a:hover {
  font-size: 21px;
}

img {
  margin-left: 0;
  width: 47%;
}

.hello {
  color: #ccba39;
  height: fit-content;
  margin: auto 5%;
}

.hello h1 {
  text-align: right;
  font-size: 700%;
}

.hello h2 {
  text-align: right;
  font-size: 250%;
  margin-top: 30px;
}

.home {
  display: flex;
  justify-content: space-between;
}

header img {
  display: none;
  position: absolute;
  width: 25px;
  height: 20px;
  top: 10px;
  left: 18px;
}

/* Media Queries pour la réactivité */

/* Pour les écrans de taille moyenne à grande */
@media only screen and (min-width: 768px) {
  ul li {
    margin-left: 20px;
    font-size: 24px;
  }

  .hello h1 {
    font-size: 500%;
  }

  .hello h2 {
    font-size: 200%;
    margin-top: 20px;
  }
}

/* Pour les écrans plus petits comme les tablettes */
@media only screen and (max-width: 767px) {
  header img {
    display: block;
  }
  .form-container{
    margin:26% 2% 2% 2%;
  }
  header .lu {
    display: none;
    position: absolute;
    background-color: #ccba39;
    width: 100%;
    margin-top: 37px;
    margin-left: 0px;
  }

  header h1 {
    margin: 0 auto;
  }

  header ul {
    display: flex;
    flex-direction: column;

  }

  ul li {
    margin: 8px 0;
    font-size: 16px;
  }

  ul {
    flex-direction: column;
    align-items: center;
  }

  ul li {
    margin: 10px 0;
    font-size: 18px;
  }

  .hello {
    margin: 10% 5%;
  }

  .hello h1 {
    font-size: 400%;
  }

  .hello h2 {
    font-size: 150%;
    margin-top: 15px;
  }
}

/* Pour les écrans très petits comme les téléphones */
@media only screen and (max-width: 480px) {
  header img {
    display: block;
  }
  .form-container{
    margin:26% 2% 2% 2%;
  }
  header .lu {
    display: none;
    position: absolute;
    background-color: #ccba39;
    width: 100%;
    margin-top: 37px;
    margin-left: 0px;
  }

  header h1 {
    margin: 0 auto;
  }

  header ul {
    display: flex;
    flex-direction: column;

  }

  ul li {
    margin: 8px 0;
    font-size: 16px;
  }

  .home {
    display: block;
    text-align: center;
  }

  .home img {
    width: 100%;
  }

  .home .hello {
    margin-right: 60px;
  }

  .home .hello h1 {
    margin-top: -50px;
    font-size: 60px;
  }
}

/* iheb */
/* Ajout de règles media query pour ajuster la taille des packs et la taille de police sur des écrans plus petits */
@media only screen and (max-width: 780px) {
  .pack h2 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 600px) {

  .packs {
    flex-direction: column;
    align-items: center;
  }

  .pack {
    max-width: 60%;
  }

  body {
    font-size: 0.8rem;
    /* Ajustez la taille de police pour les écrans plus petits */
  }

  .pack  h2 {
    font-size: 1rem;
  }

  button, .btn {
    font-size: 0.8rem;
    /* Ajustez la taille de police pour les écrans plus petits */
    padding: 3px;
    /* Positionnement du bouton en bas pour les écrans plus petits */
    bottom: 5px;
  }

}

@media only screen and (max-width: 800px) {
  .form-container {
    flex-direction: column;
  }
}